@using SquishIt.Mvc;
@{
    string suffixText = "DevSum Scheduler by Seb Nilsson";
    string viewBagTitle = Convert.ToString(ViewBag.Title ?? string.Empty);
    bool hasPrefixText = !string.IsNullOrWhiteSpace(viewBagTitle);
    
    string pageTitle = (hasPrefixText) ? string.Format("{0} - {1}", viewBagTitle, suffixText) : suffixText;

    //bool isOfflineMode = (!string.IsNullOrWhiteSpace(Request.QueryString["offline"]));

    var cssBundle = Html.BundleCss()
        .Add("~/content/normalize.css")
        .Add("~/content/site.css");

    var jsBundleHead = Html.BundleJavaScript().Add("~/libraries/html5shiv.js");
        
    var jsBundleBottom = Html.BundleJavaScript()
        .Add("~/libraries/amplify.store.js")
        .Add("~/content/site.js");

    //if(isOfflineMode) {
    //    cssBundle = cssBundle.ForceDebug();
    //    jsBundle = jsBundle.ForceDebug();
    //}    

    var cssRender = cssBundle.MvcRender("~/bundled-sitestyles.css");
    var jsRenderHead = jsBundleHead.MvcRender("~/bundled-head.js");
    var jsRenderBottom = jsBundleBottom.MvcRender("~/bundled-bottom.js");
}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"@* manifest="~/offline.appcache"*@> <!--<![endif]-->
<head>
    <title>@pageTitle</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    
    <script>document.documentElement.className = 'js';</script>

    @(cssRender)
    
    @(jsRenderHead)

</head>
<body>
    <div id="no-js-message">
        <strong>Your browser doesn't support JavaScript</strong>,
        so this website's special features cannot be used.
    </div>
    @*<div id="no-localstorage-message">
        <strong>Your browser doesn't support <a href="http://www.w3.org/TR/webstorage/">LocalStorage</a></strong>,
        so you cannot save your preferences.
    </div>*@
    <div id="messages">
        @*<div><p>Test-message with content goes here</p></div>*@
    </div>
    <header>
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Schedule", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </nav>
    </header>
    <div id="main-wrapper">
        <section id="main-content">
            @RenderBody()
        </section>
        <section id="devsum-link">
            Original data retrieved from <a href="http://devsum.se/schema/">DevSum's schedule</a>.
        </section>
    </div>
    <footer>
        © Copyright @DateTime.Today.Year <a href="http://www.sebnilsson.com">Seb Nilsson</a>, who you can also <a href="http://www.twitter.com/sebnilsson">follow on Twitter</a>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="@Url.Content("~/libraries/jquery-1.9.0.min.js")"><\/script>')</script>

    @(jsRenderBottom)

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31735424-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>