@{
    string suffixText = "DevSum Scheduler by Seb Nilsson";
    string viewBagTitle = Convert.ToString(ViewBag.Title ?? string.Empty);
    bool hasPrefixText = !string.IsNullOrWhiteSpace(viewBagTitle);
    
    string pageTitle = (hasPrefixText) ? string.Format("{0} - {1}", viewBagTitle, suffixText) : suffixText;

    //bool isOfflineMode = (!string.IsNullOrWhiteSpace(Request.QueryString["offline"]));
}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"@* manifest="~/offline.appcache"*@> <!--<![endif]-->
<head>
    <title>@pageTitle</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    
    <script>document.documentElement.className = 'js';</script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" />
    @*<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css" />*@
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" />

    @Html.CssBundleTag("site")

    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    
    <noscript>
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
    </noscript>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js js-loading'); WebFont.load({ google: { families: ['Open+Sans:400,300,700', 'Open+Sans+Condensed:300,700'] } });
    </script>
</head>
<body>
    <div id="no-js-message">
        <strong>Your browser doesn't support JavaScript</strong>,
        so this website's special features cannot be used.
    </div>
    @*<div id="no-localstorage-message">
        <strong>Your browser doesn't support <a href="http://www.w3.org/TR/webstorage/">LocalStorage</a></strong>,
        so you cannot save your preferences.
    </div>*@
    @Html.Partial("_Navigation")
    <section id="messages">
        @*<div><p>Test-message with content goes here</p></div>*@
    </section>
    <section id="main-wrapper">
        @RenderBody()
        
        <div id="ad" class="container panel panel-default">
            <div class="media">
                <div class="media-left">
                    <a href="http://offerta.se/jobb/">
                        <img src="~/content/offerta_logo.png" alt="Offerta.se" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="http://offerta.se/jobb/" target="_blank">Vi söker .NET-utvecklare på Offerta.se</a>
                    som brinner för att skapa produkter som inte suger.
                </div>
            </div>
        </div>
        
        <section id="devsum-link" class="container alert alert-info">
            Original data retrieved from <a href="http://devsum.se/schema/">DevSum's schedule</a>.
        </section>
    </section>
    <footer>
        © Copyright @DateTime.Today.Year <a href="http://www.sebnilsson.com">Seb Nilsson</a>, who you can also <a href="http://www.twitter.com/sebnilsson">follow on Twitter</a>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/amplifyjs/1.1.2/amplify.min.js"></script>
    
    @Html.JsBundleTag("site")

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31735424-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>