@model IEnumerable<DevSumScheduler.ViewModels.ScheduleTable>
@{
    Func<string, string, string> GetRowId = (day, time) => {
        string key = string.Concat(day, "-", time);
        return HttpUtility.HtmlAttributeEncode(key).ToLower();
    };
}

@helper RenderHeaderRow(string tableTitle, IEnumerable<string> headers) {
    <tr>
        <td class="table-title">@tableTitle
        </td>
        @foreach(var header in headers) {
            <td class="table-header">@header
            </td>
        }
    </tr>
}

<div id="schedule-tables">
    @foreach(var table in Model) {
        <table>
            <thead>
                @RenderHeaderRow(table.Title, table.Headers)
            </thead>
            <tbody>
                @foreach(var row in table.Rows) {
                    <tr data-row-id="@GetRowId(table.Title, row.Key)">
                        <td class="row-item-time">@row.Key
                        </td>
                        @foreach(var item in row.Value) {
                            var singleItemClass = (row.Value.Count() <= 1) ? "row-item single-row-item" : "row-item";
                            var colspan = (row.Value.Count() <= 1) ? "3" : null;
                            <td class="@singleItemClass" colspan="@colspan">
                                <span class="item-title">@item.Title</span>
                                <div class="clear"></div>
                                <span class="item-speaker">
                                    @if(!string.IsNullOrWhiteSpace(item.SpeakerUrl)) {
                                        <a href="@item.SpeakerUrl">@item.Speaker</a>
                                    } else {
                                        @item.Speaker
                                    }                                    
                                </span>
                            </td>
                        }
                    </tr>
                }
            </tbody>
            @if(table.Rows.Count > 1) {
                <tfoot>
                    @RenderHeaderRow(table.Title, table.Headers)
                </tfoot>
            }
        </table>
    }
</div>
