@model ScheduleTable

<h2 class="container">@Model.Title</h2>

<div class="container schedule-table">
    <table>
        <thead>
            @HeaderRow(Model.Headers)
        </thead>

        <tbody>
            @foreach (var row in Model.Rows)
            {
                @Html.DisplayFor(_ => row)
            }
        </tbody>

        @if (Model.Rows.Count > 1)
        {
            <tfoot>
                @HeaderRow(Model.Headers)
            </tfoot>
        }
    </table>
</div>

@helper HeaderRow(IEnumerable<string> headers)
{
    <tr>
        <th class="table-header">&nbsp;</th>

        @foreach (var header in headers)
        {
            <th class="table-header">@header</th>
        }
    </tr>
}